<div>
	<div class="col-md-12 instructions">
		<h4>Instructions</h4>
		<ul>
			<li>The test contains 10 questions</li>
			<li>There is a time limit of 10 minutes.</li>
			<li>You will get 1 point for each correct answer. At the end of the Quiz, your total score will be displayed. Maximum score is 10 points.</li>
			<li>The test will begin in the next screen</li>
		</ul>
	</div>
	<div class="register-quiz text-center col-md-12">
		<input type="submit" class="btn btn-success quiz-theme-btn" name="submit" value="Start Test" ng-click="start()"/>
		<!-- <label>Sign in before starting the test.</label> -->
		<!-- <form class='form-horizontal col-md-6' name="quizRegistrationForm">
			<div>
				<div class="">
					<label class="control-label" for="emailId">Email Id</label>
					<input class=" form-control" type="email" ng-blur="validateEmailAddress()" name="emailAddress" id="emailAddress" ng-model="user.emailAddress" required=true placeholder="" />
					<div class="error" role="alert" ng-show="invalidEmailAddress">
					  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					  Enter a valid email id
					</div>
				</div>
			</div>
			<div>
			<input type="button" class="btn btn-success" name="signIn" value="Proceed to test"/>
			</div>
		</form>
		<l abel class=""> Enter the following details to start the quiz. </label>
		<form class='form-horizontal' name="quizRegistrationForm">
			<div class="form-group">
				<label class="col-md-3 control-label" for="firstName">First Name</label>
				<div class="col-md-7">
					<input class=" form-control" type="text" ng-blur="validateFirstName()" value="" id="firstName" name="first-name" ng-model="user.firstName" required placeholder="Enter your first name"/>
					<div class="error" role="alert" ng-show="invalidFirstName">
					  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					  Enter a valid first name
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="lastName">Last Name</label>
				<div class="col-md-7">
					<input class=" form-control" type="text" ng-blur="validateLastName()" value="" id="lastName" ng-model="user.lastName" placeholder="Enter your last name" />
					<div class="error" role="alert" ng-show="invalidLastName">
					  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					  Enter a valid last name
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="emailAddress">Email Address</label>
				<div class="col-md-7">
					<input class=" form-control" type="email" ng-blur="validateEmailAddress()" name="emailAddress" id="emailAddress" ng-model="user.emailAddress" required=true placeholder="Enter your email address" />
					<div class="error" role="alert" ng-show="invalidEmailAddress">
					  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					  Enter a valid email address
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="phoneNumber">Phone Number</label>
				<div class="col-md-7">
					<input class=" form-control" type="number" ng-blur="validatePhoneNumber()" value="" id="phoneNumber" ng-model="user.phoneNumber" placeholder="Enter phone number" />
					<div class="error" role="alert" ng-show="invalidPhoneNumber">
					  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					  Enter a valid phone number
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="address">Address</label>
				<div class="col-md-7">
					<textarea class=" form-control" id="address" ng-blur="validateAddress()" ng-model="user.address" placeholder="Enter your address"></textarea>
					<div class="error" role="alert" ng-show="invalidAddress">
					  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					  Enter a valid address
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-3 col-md-7 text-center">
					<input type="reset" class="btn btn-danger" name="reset" value="Reset" ng-click="reset()"/>	
					<input type="submit" class="btn btn-success" name="submit" value="Submit" ng-click="start()"/>
				</div>
			</div>
		</form> -->
		
	</div>
	
</div>